$primary-text-color: #231f20
$widget-border-color: #c6c7c7
$widget-background-color: #fff
$input-border-color: #d3d9de
$button-background-color: #1cd1fd
$button-hover-background-color: #03b4da
$button-divider-right-color: #91d6eb
$button-divider-left-color: #11abd0

/* askthem look and feel */
$darkblue: #32515a
$middleblue: #3c636e
$lightblue: #7b969e

$green: #afd82d
$salmon: #fa7564
$black: #000000
$middlegrey: #7a7a7a
$lightgrey: #919191
$white: #FFFFFF

$facebook-blue: #3B5998
$twitter-blue: #00aced
$google-plus-red: #e04006

$context: #c8c8c8
$border-delimiter: #dce2e4

$linkcolor: #82b7c8
$linkhover: #709eac

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  -o-border-radius: $radius
  border-radius: $radius

=button-background-image-setup($image-url)
  cursor: pointer
  background-image: url($image-url)
  background-repeat: no-repeat
  background-position: center center

@import 'fonts'
@import 'base'
@import 'loading'

/* TODO: host site needs to declare these */
.at-widget
  width: 580px

  input
    font-size: 13px
    text-transform: none
    color: $primary-text-color

  .headline
    +RobotoBlack
    color: $darkblue
    font-size: 1.5em

  .description
    font-size: 15px
    color: $primary-text-color

/* END TODO: host site needs to declare these */

.at-widget
  height: auto
  background: $widget-background-color
  float: left
  border: 1px solid $widget-border-color
  text-align: center
  padding-bottom: 0

  fieldset
    border: 0
    margin: 0
    padding: 0

  .address-field
    +border-radius(5px)
    margin-top: 1px
    border: 1px solid $input-border-color
    padding: 5px 10px

  .zip
    vertical-align: top
    display: inline-block
    width: 175px
    height: 51px

  .headline
    margin: 20px 20px 17px 20px

  .description
    margin-bottom: 18px
    margin-right: 40px
    margin-left: 40px

    p
      margin: 0

  .button
    display: inline-block

    .sign
      +border-radius(4px)
      +button-background-image-setup('//www.askthem.io/assets/logo.svg')
      margin: 0px auto 1em auto
      position: relative
      z-index: 0
      cursor: pointer
      width: 140px
      height: 52px
      background-color: $linkcolor
      -webkit-transition: background-color 0.4s
      -moz-transition: background-color 0.4s
      -o-transition: background-color 0.4s
      transition: background-color 0.4s

    .sign:hover
      background-color: $linkhover

@import 'people'
@import 'questions'
