<ul class="people-list select-person">
  {{#each person in model}}
    <li {{action "personSelect" person}} class="person">
      <div class="avatar">
        {{cdn-avatar-from imageUrl=person.photo_url}}
      </div>
      {{person-details person=person}}
    </li>
  {{else}}
    <div class="no-results">No results. Are you sure you entered a correct address?</div>
  {{/each}}
</ul>
