<div class="at-widget" id="address">
  <h4 class="headline">{{sanitize-html attrs.headline "relaxed"}}</h4>

  {{#if attrs.question.summary}}
    <div class="description"><p>{{sanitize-html attrs.question.summary "relaxed"}}</p></div>
  {{/if}}

  <div class="description"><p>See all your elected officials and ask them about this article or topic.</p></div>

  {{outlet}}

  {{#ic-modal id="question-steps" open-when=duringQuestionSteps on-close="backToStart"}}
    {{#ic-modal-title}}Gathering info about your Question{{/ic-modal-title}}
    {{outlet 'question-steps'}}
  {{/ic-modal}}
</div>
