<div class="at-widget" id="address">
  <h2 class="headline">{{sanitize-html attrs.headline "relaxed"}}</h2>

  {{#if attrs.question.summary}}
    <div class="description"><p>{{sanitize-html attrs.question.summary "relaxed"}}</p></div>
  {{/if}}

  <div class="description"><p>Choose from all your elected officials & ask them about this article or topic.</p></div>

  {{outlet}}

  {{#ic-modal id="question-steps" open-when=duringQuestionSteps on-close="backToStart"}}
    {{#ic-modal-title}}<h2 class="question-step-headline">Ask a Question</h2>{{/ic-modal-title}}
    {{outlet 'question-steps'}}
  {{/ic-modal}}
</div>
