<div class="at-widget" id="address">
  <h4>{{sanitize-html attrs.headline "relaxed"}}</h4>
  <div class="description"><p>{{sanitize-html attrs.question.summary "relaxed"}}</p></div>

  {{outlet}}
</div>
