<form {{action "search" on="submit"}}>
  <fieldset>
    {{input value=address placeholder="Your address or zip code" class="address-field zip"}}
    <div class="button">
      <div class="sign" {{action "search"}}>
        <span class="question"></span>
        <span class="ptext"></span>
      </div>
    </div>
  </fieldset>
</form>
